$sub-title-color: #263636;
$sub-title-underline-color:#2b2f32;
$link-hover-bg: #f5f5f5;
$add-icon-color: #014199;

.reading-area{
  min-height: 100vh;


  .authors{
    .sub-title{
      color: $sub-title-color;
      border-bottom: 2px solid $sub-title-underline-color;
      padding-left: 0;
    }

    h1{
      font-weight: 350;
      padding-left: 0;
    }

    .empty-label{
      font-size: 1.1em;
    }

    ul{
      li{
        font-size: 1.1em;
        font-weight: 300;

        i{
          display: none;
          font-size: 1.1em;
          cursor: pointer;
        }
        &:hover{
          background-color: $link-hover-bg;
          i{
            display: inline-block;
          }
        }

      }

    }

    .add-label{
      label{
        font-size: 1.1em;
        vertical-align: top;
      }

      i{
        color: $add-icon-color;
      }
    }
    .create-form-penal{
      h3{
        border-bottom: 2.5px solid $sub-title-underline-color;
        display: inline-block;
        font-size: 1.1em;
        font-weight: 450;
      }
      .feather-x-circle{
        font-size: 1.1em;
        cursor: pointer;
        vertical-align: center;
      }

      .form-label{
        font-size: small;
      }
      .MBBtn{
        position: absolute;
        float: right;
      }
    }
  }
}
